# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

ykush2
debian/ykush2
debian/ykush2.debhelper.log
debian/ykush2.postinst.debhelper
debian/ykush2.preinst.debhelper
debian/ykush2.substvars
